<section class="post-container">
  <a class="post-link" href="/post/{{id}}">
    <h2>{{title}}</h2>
    <h4 class="user-name">By {{user.username}}</h4>
  </a>
    <p class="date-p">{{format_date createdAt}}</p>
    <p>{{content}}</p>
</section>