{{#each user.posts}} 
<section class="container">
  <div class="post-dashboard">
    <h4 class="post-title-dash">{{title}}</h4>
    <h5>{{format_date createdAt}}</h5>
    <h5>{{content}}</h5>
      <button type="submit" class="btn-update" data-id="{{id}}" onclick ="updateButtonHandler (event)">Update</button>
      <button class="btn-delete" data-id="{{id}}" onclick ="deleteButtonHandler (event)">Delete</button>
    
    <section class="update-post">
        <form class="form-post-update">
          <div class="div-post-update">
            <textarea rows = "5" cols = "7" class="form-input-post-update" type="text" id="post-content-update-{{id}}" name="post-content" placeholder="Enter text you'd like to update"></textarea>
          </div>
        </form>
    </section>

  </div>
{{/each}}

{{!-- section for creating new post --}}
<section class="create-post">
    <form class="form-post">
      <div class="div-post">
        <input class="form-input-post" id="post-name" name="post-name" type="text" placeholder="Create a title for your post"/>
        <textarea rows = "10" cols = "70" class="form-input-post" type="text" id="post-content" name="post-content"></textarea>
      </div>
      <div class="div-post-btn">
        <button type="submit" class="btn btn-post">Create a new post</button>
      </div>
    </form>
</section>

<script src="/js/post.js"></script>