{{#each user.posts}} 
<section class="container">
  <div class="post">
    <h4>{{title}}</h4>
    <h5>{{format_date post_date}}</h5>
    <h5>{{content}}</h5>
    <button class="btn-update" data-id="{{id}}" onclick = "change()">Update</button>
    <button class="btn-delete" data-id="{{id}}">Delete</button>

      {{!-- conditional for when the update button is clicked to render a text box
      and submit button --}}
      {{!-- how to render input field conditionally?  --}}
      <section class="update-post">
          <form class="form-post-update">
            <div class="div-post-update">
              <input class="form-input" type="text" id="post-content-update" name="post-content-update" />
            </div>
          </form>
      </section>
  </div>
{{/each}}

{{!-- section for creating new post --}}
<section class="create-post">
    <form class="form-post">
      <div class="div-post">
        <input class="form-input" type="text" id="post-name" name="post-name" />
        <input class="form-input" type="text" id="post-content" name="post-content" />
      </div>
      <div class="div-post">
        <button type="submit" class="btn btn-post">Create a new post</button>
      </div>
    </form>
</section>

<script src="./js/post.js"></script>
<script type = 'text/javascript'>
  function change () {
    const container = document.querySelector('.container');
    console.log(container);
    container.setAttribute('id', 'update');
    console.log(container);
  };
</script>